.option-section {
  display: flex;
  flex-direction: column;
}

.calculated-password-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  background-color: gray;
  line-height: 2rem;
  color: white;
  font-weight: 600;
  padding-left: 1em;
}

.phrase-field {
  width: 500px;
}