<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="phraseFormGroup">
    <ng-template matStepLabel>Fill out phrase</ng-template>
    <ng-container [formGroup]="phraseFormGroup">
      <mat-form-field class="phrase-field">
        <mat-label>Your phrase</mat-label>
        <input matInput type="text" placeholder="Ex. red crocodile" formControlName="phrase">
      </mat-form-field>
    </ng-container>
    <div>
      <button mat-button matStepperNext [disabled]="hasPharaseValue">Next</button>
      <button mat-button matStepperPrevious>Previous</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="languageFormGroup">
    <form [formGroup]="languageFormGroup">
      <ng-template matStepLabel>Fill out your language</ng-template>
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select [formControl]="languageFormGroup.controls.lang">
          @for (lang of languagesOption; track lang) {
            <mat-option [value]="lang.id">{{lang.value}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="optionsFormGroup">
    <ng-template matStepLabel>Check options</ng-template>
    <section class="option-section" [formGroup]="optionsFormGroup">
      <ng-container formArrayName="numbers">
        <div class="title">Numbers</div>
        <mat-checkbox
          *ngFor="let checkboxControl of numbers.controls; let i = index" 
          [formControl]="checkboxControl"
          (change)="toggleCheckboxes(numbers, i)">
            {{ defaultNumberCheckboxes[i].name }}
        </mat-checkbox>
      </ng-container>
      
      <ng-container formArrayName="symbols">
        <div class="title">Symbols</div>
        <mat-checkbox
          *ngFor="let checkboxControl of symbols.controls; let i = index" 
          [formControl]="checkboxControl"
          (change)="toggleCheckboxes(symbols, i)">
            {{ defaultSymbolCheckboxes[i].name }}
        </mat-checkbox>
      </ng-container>
      
      <ng-container formArrayName="uppercase">
        <div class="title">Uppercase letters</div>
        <mat-checkbox
          *ngFor="let checkboxControl of uppercase.controls; let i = index" 
          [formControl]="checkboxControl"
          (change)="toggleCheckboxes(uppercase, i)">
            {{ defaultUppercaseCheckboxes[i].name }}
        </mat-checkbox>
      </ng-container>
            
      <ng-container formArrayName="lowercase">
        <div class="title">Lowercase letters</div>
        <mat-checkbox
          *ngFor="let checkboxControl of lowercase.controls; let i = index" 
          [formControl]="checkboxControl"
          (change)="toggleCheckboxes(lowercase, i)">
            {{ defaultLowercaseCheckboxes[i].name }}
        </mat-checkbox>
      </ng-container>

      <!-- <div class="title">Lowercase</div>
      <mat-checkbox formControlName="lowercase">Lowercase letters</mat-checkbox> -->
    </section>
    <div>
      <button mat-button matStepperNext (click)="calculate()">Next</button>
      <button mat-button matStepperPrevious>Previous</button>
    </div>
  </mat-step>
  <mat-step [formGroup]="calculatedPasswordFormGroup">
    <ng-template matStepLabel>Get a clear password</ng-template>
    <section class="calculated-password-section">
      <mat-form-field class="phrase-field">
        <mat-label>Your password</mat-label>
        <input matInput type="text" formControlName="password" readonly>
      </mat-form-field>
<!--      {{ calculatedPassword }}-->
      <button mat-icon-button (click)="copyToClipboard()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </section>
  </mat-step>
</mat-stepper>
